<div class="footer-section">
    <p>This is footer section</p>
</div>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      
    ],
    "presets": [
      {
        "name": "Footer",
        "category": "footer"
      }
    ]
  }
{% endschema %}