<div class="image-banner-{{section.id}}">
    <h1>This is the images</h1>
</div>
{% schema %}
{
  "name": "Slideshow",
  "settings": [
    {
      "type": "text",
      "id": "header",
      "label": "Header"
    }
  ]
}
{% endschema %}